        <form method="post" name="form" action="/4">
            <input type = "number" name="number" placeholder="Ex preço: 1526,45" min="0" step="0.01">
            <button type="submit">Enviar</button>
            <a href="/"><button type="button" id="back">Voltar</button></a>
        </form>
    </div>

    {{#if dados}}
        <div class="message message-empty" id="message">
            <div class="title">
                {{mensagemTitulo}}
                <button class="close" class="close"><i class='fa fa-times-circle'></i></button>
            </div>
            <div class="text" id="value"><p>{{mensagemTexto}}.</p></div>
        </div>
    {{/if}}
    {{#if dadosValidos}}
        <div class="message message-zero" id="message">
            <div class="title">
                {{mensagemTitulo}}
                <button class="close" class="close"><i class='fa fa-times-circle'></i></button>
            </div>
            <div class="text" id="value"><p>O custo final do consumidor é <span class='negrito'>R${{total}}</span>.</p></div>
        </div>
    {{/if}}
	
<script type="text/javascript">
	var i; 
	var close = document.getElementsByClassName("close");
	var message = document.getElementsByClassName("message");

	for(i = 0; i < close.length; i++){
		close[i].addEventListener("click", closeMessage);
	}

	function closeMessage(){
		var number = document.forms["form"]["number"];
		number.value = "";
		for(i = 0; i < message.length; i++){
			message[i].style.display = "none";
		}
	}

</script>