<h2>{{tituloPagina}}</h2>
<form method="post" action="">
 <label>Número</label>
    <input type="number" name= "numero">
  </div>

  <button type="submit">Enviar</button>
</form>

<h2>O número {{num}} é {{mensagem}}</h2>